.vscode/**
.vscode-test/**
src/**
.gitignore
.github/**
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
node_modules/**
out/test/**
.claude/**
os_docs/**
os_scripts/**
.ai-context.md
.ai-instructions.md
claude.json
requirements.txt
project_config.yml
CHANGELOG.md
